# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

########################
# Datasets / archives
########################
data/
dataset/
datasets/
lesson2/homeworks/agnews_distilbert/*
lesson2/homeworks/agnews_roberta/*
*.zip
*.rar
*.7z
*.tar
*.tar.gz

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

